<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sir sly</title>
</head>
<body>
    <div>
		<header>
			<h1>Sir sly</h1>
			<img src="sir_sly.jpg" width="30%">
			<ul>
				<li><a href="URL">Biography</a></li>
				<li><a href="URL">THE RISE AND FALL OF LOVERBOY</a></li>
				<li><a href="URL">fall tour with CANNONS</a></li>
				<li><a href="URL">Links</a></li>
			</ul>
		</header>
		<main>
			<section><h1>Brief</h1>
				<div>Sir Sly is an American indie rock band formed and based in Orange Country,
					California, United States. The band is fronted by vocalist Landon Jacobs with
					instrumentalists Jason Suwito and Hayden Coplen accompanying him. The trio 
					gradually built a steady following and managed to top The Hype Machine chart, eventually 
					revealing their identities.
				</div>
			</section>
			<h2>THE RISE AND FALL OF LOVERBOY</h2>
			<div>Loandon Jacobs, the 30-year-old frontperon of the Califirnia rock band Sir Sly, said
				in a recenr interview. "That's what's kind of fun about music. You get to wear your 
				inspirations on your sleeve and them mix that with what is going on in your own life. It's 
				always going to come out differently than what anyone else could do, even if they sat down and 
				tried to synthesize all those things." The mingling of a person's musical influences combined with 
				what's going on in one's own life results in something fresh and unique, according to Jacobs, and is at the
				heart of his creative process. 
			</div>

			<h2>fall tour with CANNONS</h2>
			<div>As we begin to wrap April, it's still anyone's guess as to when live music will actually return withsome sense of
				normalcy. So if a band is set to announce a Fall 2021 tour, best to make it quite literally at the back end of 
				The Greates Seasons, giving us all amply time to see just what will transpire over the next several months. That seems to be the plan 
				from Los Angeles alt-pop trio lovelytheband, who have unveiled their 24-date "Conversations with Loverboy" co-headlining North American 
				tour with Sir Sly that picks up in mid-November and takes them to Christmas. As an exciting bonus, CANNONS and their unfuckwithable song 
				"Fire For You" are on board as a special guests for the entire run.  
			</div>

			<h3>Links</h3>
			<ul>
				<li><a href="URL">Sir Sly-Twitter</a></li>
				<li><a href="URL">Sir Sly-Instagram</a></li>
				<li><a href="URL">Sir Sly-Wikipedia</a></li>
			</ul>
		</main>
		<footer>
			<div>Copyright</div>
		</footer>
	</div>
</body>
</html>